* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-de-fondo: #FFF6F8;
    --color-de-fondo-secundario: #D6B4F0;
    --color-de-fondo-secciones: #7D8FF2;
    --color-de-titulos: #1A1F2E;
    --color-de-enlace: #FFB7D5;
    --color-de-texto: #0B3D5C;
    --color-detalles: #FFD7A8;
}

body{
    background:var(--color-de-fondo);
    color:var(--color-de-texto);
    font-family:"Manrope",sans-serif;
}

h1,h2,h3 {
    font-family:"Space Grotesk",sans-serif;
    color:var(--color-de-titulos);
}

/* Estilos para el header */

.header{
    background:var(--color-de-fondo-secundario);
    padding:20px;
}

.header__profile{
    width:20%;
    display:inline-block;
    vertical-align:middle;
}

.header__nav{
    width:75%;
    display:inline-block;
    vertical-align:middle;
    text-align:right;
}

.header__nav a{
    display:inline-block;
    margin-left:30px;
    text-decoration:none;
    color:var(--color-de-texto);
}
   

